Repository honeycombio/libhoney-go, pull requests merged in 2023-06, with the labels that each got.

#225 maint: drop go 14, 15, 16
  .circleci/config.yml
  README.md
Labels: type: maintenance, version: bump minor, breaking-change

#226 rel: Prepare v1.19.0 release
  CHANGELOG.md
  version/version.go
Labels: type: maintenance, version: no bump

#227 docs: add development.md
  DEVELOPMENT.md
  README.md
Labels: type: documentation, no-changelog

#230 rel: prepare v1.20.0 release
  CHANGELOG.md
  version/version.go
Labels: no-changelog
